<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>

		html {
			background-color: black;
		}

		p {
			color: white;
			text-align: left;
		}

		h2 {
			color: white;
			text-align: center;
		}




	</style>
</head>
<body>
<h2><strong> <-- Welcome To The OSINT Workshop --> </strong></h2>

<p><strong>/workshop</strong> --> OSINT Workshop</p>
<p><strong>/login</strong> --> Login to OSINT Workshop</p>
<p><strong>/get_token</strong> --> Generate Authentication Key</p>

</body>
</html>