<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OSINT Workshop</title>
	<style type="text/css">
		
		html {
			background-color: black;
		}

		#title {
			color: white;
			text-align: center;
		}

		#endpoints {
			display: flex; 
			align-items: center;
			justify-content: center;
		}

		h3 {
			color: white;
		}

		table {
			width: 25%;
			height:  25%;
		}
		


	    th, tr, a {
	    	border: 1px solid white;
			color: white;

		}
	</style>
</head>
<body>
	<h1 id="title">Welcome to the OSINT Workshop</h1>

	<div id="endpoints">
		<table>
			<tr>
				<th>Endpoints</th>	
			</tr>
			<tr>
				<th><a href="/workshop/ip_lookup">Advanced IP Lookup</a></th>
			</tr>
			<tr>
				<th><a href="/workshop/email_lookup">Advanced Email Lookup</a></th>		
			</tr>
			<tr>
				<th><a href="/workshop/phone_lookup">Advanced Phone Lookup</a></th>
			</tr>
		</table>
		


	</div>
	



</body>
</html>